<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Earth</title>
</head>

<body>
  <div class="containr-fluid vh-100" id="app">
    <div class="position-absolute top-0 start-0 mt-2 mx-2 d-flex flex-column">
      <button class="btn btn-secondary mb-2" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Meun</button>
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Guide
      </button>
    </div>
    <div class="position-absolute start-0 bottom-0 mx-2 mb-2">
        <p>{{ info.year }}/{{ info.month }}/{{ info.day }}</p>
        <p>{{ info.time }}:00 UT</p>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-secondary">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">User Guide</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h3>Introduction</h3>
            <p>This page is used to display DART-TIEGCM model information.</p>
            <p>The animation of white lines means neutral wind or ExB drift.</p>
            <p>The purpose of the exhibition is to observe the impact of ionospheric dynamic wind field or plasma drift on electron concentration.</p>
            <h3>Step</h3>
            <p>1. Select Year -> Month -> Day (If not select day, data will not update.)</p>
            <p>2. Select Vector, Overlay, Height (Default is 300 km).</p>
            <h3>Notice</h3>
            <p>Updating will take a few seconds. (The earth will temporarily disappear.)</p>
            <p>There are some errors in the animation at the earth's boundary. (Not fix yet.)</p>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
    </div>
    <div class="offcanvas offcanvas-start bg-primary" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
      id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header pb-0">
        <h2>Settings</h2>
        <button type="button" class="btn-close text-reset bg-info" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body pt-1">
        <ul class="list-unstyled">
          <li>
            <ul class="list-unstyled fs-5">
              <li class="d-flex justify-content-between align-items-center pb-2">
                <label for="date">
                  Date
                </label>
                <select class="form-select bg-secondary mx-2" aria-label="year" v-model="year">
                  <option v-for="item in year_list" :value="item">{{ item }}</option>
                </select>
                <select class="form-select bg-secondary mx-2" aria-label="month" v-model="month">
                  <option v-for="item in month_list" :value="item">{{ item }}</option>
                </select>
                <select class="form-select bg-secondary mx-2" aria-label="day" v-model="day">
                  <option v-for="item in day_list" :value="item">{{ item }}</option>
                </select>

              </li>
              <li class="d-flex justify-content-between align-items-center pb-2">
                <label for="time">
                  Time (UT)
                </label>
                <select class="form-select bg-secondary mx-2" aria-label="model" v-model="info.time">
                  <option v-for="item in hour" :value="item">{{ item }}</option>
                </select>
                <label for="model">
                  Model
                </label>
                <select class="form-select bg-secondary mx-2" aria-label="model" v-model="info.model">
                  <option value="dart">DART-TIEGCM</option>
                  <!-- <option value="tiegcm">TIEGCM</option> -->
                </select>
              </li>
              <li class="d-flex justify-content-between align-items-center pb-2">
                <label for="vector">
                  Vector
                </label>
                <select class="form-select bg-secondary mx-3" aria-label="vector" v-model="info.vector_type">
                  <option value="neutralWind">Wind</option>
                  <option value="exbDrift">ExB Drift</option>
                </select>
                <label for="overlay">
                  Overlay
                </label>
                <select class="form-select bg-secondary mx-3" aria-label="overlay" v-model="info.overlay_type">
                  <option value="neutralWind">Wind</option>
                  <option value="exbDrift">ExB Drift</option>
                  <option value="electronDensity">Electron Density</option>
                </select>
              </li>
              <li class="d-flex justify-content-between align-items-center pb-2">
                <label for="height">Height</label>
                <div class="btn-group" role="group" aria-label="Basic outlined" @click="getHeight($event)">
                  <button type="button" class="btn btn-secondary" value="100">100</button>
                  <button type="button" class="btn btn-secondary" value="200">200</button>
                  <button type="button" class="btn btn-secondary" value="300">300</button>
                  <button type="button" class="btn btn-secondary" value="400">400</button>
                  <button type="button" class="btn btn-secondary" value="500">500</button>
                  <button type="button" class="btn btn-secondary" value="600">600</button>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <ul class="list-unstyled">
              <li class="form-check fs-4">
                <label class="form-check-label" for="showGrid">
                  Grid
                </label>
                <input class="form-check-input" type="checkbox" value="" id="showGrid" v-model="grid_data.show_grid">
              </li>
              <li class="container px-0 pt-2 pb-2">
                <ul class="list-unstyled row align-items-center">
                  <li class="col-8 d-flex align-items-center justify-content-between" title="set x grid size">
                    <label for="x_grid">X Grid</label>
                    <input type="range" name="x_grid" id="x_grid" min="0" max="20" step="2.5"
                      v-model.number="grid_data.grid_size[0]">
                  </li>
                  <li class="col-4 d-flex align-items-center">
                    <span class="badge bg-secondary">{{ grid_data.grid_size[0] }}</span>
                  </li>
                </ul>
              </li>
              <li class="container px-0 pb-2">
                <ul class="list-unstyled row align-items-center">
                  <li class="col-8 d-flex align-items-center justify-content-between" title="set y grid size">
                    <label for="y_grid">Y Grid</label>
                    <input type="range" name="y_grid" id="y_grid" min="0" max="20" step="2.5"
                      v-model.number="grid_data.grid_size[1]">
                  </li>
                  <li class="col-4 d-flex align-items-center">
                    <span class="badge bg-secondary">{{ grid_data.grid_size[1] }}</span>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <ul class="list-unstyled">
              <li class="form-check fs-4 ps-0">
                <label class="form-check-label" for="animation">
                  Animation
                </label>
                <!-- <input class="form-check-input" type="checkbox" value="" id="showRotation" v-model="layer_settings.automatic_rotation"> -->
              </li>
              <li class="container px-0 pt-2 pb-2">
                <ul class="list-unstyled">
                  <li class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="forAnimation" id="rotation_type" value="rotate_type"
                      v-model="layer_settings.animation_type">
                    <label class="form-check-label" for="rotate_type">
                      Rotate
                    </label>
                  </li>
                  <li class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="forAnimation" id="vector_type"
                      value="vector_type" v-model="layer_settings.animation_type">
                    <label class="form-check-label" for="type">
                      Vector
                    </label>
                  </li>
                  <li class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="forAnimation" id="none_type" value="none_type"
                      v-model="layer_settings.animation_type">
                    <label class="form-check-label" for="none_type">
                      None
                    </label>
                  </li>
                  <li class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="forAnimation" id="play_type" value="play_type"
                      v-model="layer_settings.animation_type">
                    <label class="form-check-label" for="play_type">
                      Play
                    </label>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <ul class="list-unstyled">
              <li class="form-check fs-4 ps-0">
                <label class="form-check-label" for="showRotation">
                  Rotation
                </label>
                <!-- <input class="form-check-input" type="checkbox" value="" id="showRotation" v-model="layer_settings.automatic_rotation"> -->
              </li>
              <li class="container px-0 pt-2 pb-2">
                <ul class="list-unstyled">
                  <li class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="forDirection" id="rotationLeft" value="left"
                      v-model="layer_settings.rotation_dec">
                    <label class="form-check-label" for="rotationLeft">
                      Left / West
                    </label>
                  </li>
                  <li class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="forDirection" id="rotationRight" value="right"
                      v-model="layer_settings.rotation_dec">
                    <label class="form-check-label" for="rotationRight">
                      Right / East
                    </label>
                  </li>
                </ul>
              </li>
              <li class="container px-0 pt-2 pb-2">
                <ul class="list-unstyled row align-items-center">
                  <li class="col-8 d-flex align-items-center justify-content-between" title="Rotation's speed">
                    <label for="rotation_speed">Speed</label>
                    <input type="range" name="rotation_speed" id="rotation_speed" min="0.001" max="0.01" step="0.001" v-model.lazy.number="rotation_speed">
                  </li>
                  <li class="col-4 d-flex align-items-center">
                    <span class="badge bg-secondary">{{ rotation_speed }}</span>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <ul class="list-unstyled">
              <li class="form-check fs-4 ps-0">
                <label class="form-check-label" for="showVectorAnimation">
                  Vector
                </label>
                <!-- <input class="form-check-input" type="checkbox" value="" id="showVectorAnimation"
                  v-model="layer_settings.show_vector_animation"> -->
              </li>
              <li class="container px-0 pt-2 pb-2">
                <ul class="list-unstyled row align-items-center">
                  <li class="col-8 d-flex align-items-center justify-content-between"
                    title="Determine how fast the particle's trace decays">
                    <label for="alpha_decay">Trace Decays</label>
                    <input type="range" name="alpha_decay" id="alpha_decay" min="0.8" max="1.0" step="0.01"
                      v-model.lazy.number="vector_settings.alpha_decay">
                  </li>
                  <li class="col-4 d-flex align-items-center">
                    <span class="badge bg-secondary">{{ vector_settings.alpha_decay }}</span>
                  </li>
                </ul>
              </li>
              <li class="container px-0 pb-2">
                <ul class="list-unstyled row align-items-center">
                  <li class="col-8 d-flex align-items-center justify-content-between"
                    title="Determine how fast particles travel">
                    <label for="particles_travel">Speed</label>
                    <input type="range" name="particles_travel" id="particles_travel" min="0" max="4000" step="500"
                      v-model.lazy.number="vector_settings.particles_travel">
                  </li>
                  <li class="col-4 d-flex align-items-center">
                    <span class="badge bg-secondary">{{ vector_settings.particles_travel }}</span>
                  </li>
                </ul>
              </li>
              <li class="container px-0 pb-2">
                <ul class="list-unstyled row align-items-center">
                  <li class="col-8 d-flex align-items-center justify-content-between"
                    title="Determine the number of particles">
                    <label for="number_of_particles">Number</label>
                    <input type="range" name="number_of_particles" id="number_of_particles" min="0" max="5000"
                      step="500" v-model.lazy.number="vector_settings.number_of_particles">
                  </li>
                  <li class="col-4 d-flex align-items-center">
                    <span class="badge bg-secondary">{{ vector_settings.number_of_particles }}</span>
                  </li>
                </ul>
              </li>
              <li class="container px-0 pb-2">
                <ul class="list-unstyled row align-items-center">
                  <li class="col-8 d-flex align-items-center justify-content-between"
                    title="Define max age of particles">
                    <label for="max_age_of_particles">Max Age</label>
                    <input type="range" name="max_age_of_particles" id="max_age_of_particles" min="10" max="100"
                      step="5" v-model.lazy.number="vector_settings.max_age_of_particles">
                  </li>
                  <li class="col-4 d-flex align-items-center">
                    <span class="badge bg-secondary">{{ vector_settings.max_age_of_particles }}</span>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <ul class="list-unstyled">
              <li class="form-check fs-4">
                <label class="form-check-label" for="showVectorColorbar">
                  Vector Color Bar
                </label>
                <input class="form-check-input" type="checkbox" value="" id="showVectorColorbar"
                  v-model="vector_show_colorbar">
              </li>
              <li class="container px-0 pt-2 pb-2">
                <ul class="list-unstyled row align-items-center">
                  <li class="col d-flex align-items-center justify-content-between" title="Set color bar maximum">
                    <label for="colorbar_max_value">Max Value</label>
                    <input type="text" name="colorbar_max_value" id="vector_colorbar_max_value" size="5" maxlength="5"
                      v-model.lazy.number="vector_colorbar_setting.colorbar_max_value">
                  </li>
                  <li class="col d-flex align-items-center">
                    <span class="badge bg-secondary">{{ info.vector_colorbar_units }}</span>
                  </li>
                </ul>
              </li>
              <li class="container px-0 pt-2 pb-2">
                <ul class="list-unstyled row align-items-center">
                  <li class="col-4 d-flex align-items-center justify-content-between" title="Set color bar maximum">
                    <label for="setColorbarStyle">Style</label>
                  </li>
                  <li class="col-8 d-flex align-items-center">
                    <select class="form-select bg-secondary" aria-label="colorbar style select" name="setColorBarStyle"
                      id="setColorBarStyle" v-model="vector_colorbar_setting.colorbar_view">
                      <option value="Sine">Sine</option>
                      <!-- <option value="Viridis">Viridis</option> -->
                      <option value="Turbo">Turbo</option>
                      <option value="PiYG">PiYG</option>
                      <option value="Sinebow">Sinebow</option>
                      <option value="RdBu">RdBu</option>
                    </select>
                  </li>
                </ul>
              </li>
              <li class="form-check fs-4">
                <label class="form-check-label" for="showOverlayColorbar">
                  Overlay Color Bar
                </label>
                <input class="form-check-input" type="checkbox" value="" id="showOverlayColorbar"
                  v-model="overlay_show_colorbar">
              </li>
              <li class="container px-0 pt-2 pb-2">
                <ul class="list-unstyled row align-items-center">
                  <li class="col d-flex align-items-center justify-content-between" title="Set color bar maximum">
                    <label for="colorbar_max_value">Max Value</label>
                    <input type="text" name="colorbar_max_value" id="overlay_colorbar_max_value" size="5" maxlength="5"
                      v-model.lazy.number="overlay_colorbar_setting.colorbar_max_value">
                  </li>
                  <li class="col d-flex align-items-center">
                    <span class="badge bg-secondary">{{ info.overlay_colorbar_units }}</span>
                  </li>
                </ul>
              </li>
              <li class="container px-0 pt-2 pb-2">
                <ul class="list-unstyled row align-items-center">
                  <li class="col-4 d-flex align-items-center justify-content-between" title="Set color bar maximum">
                    <label for="setColorbarStyle">Style</label>
                  </li>
                  <li class="col-8 d-flex align-items-center">
                    <select class="form-select bg-secondary" aria-label="colorbar style select" name="setColorBarStyle"
                      id="setColorBarStyle" v-model="overlay_colorbar_setting.colorbar_view">
                      <option value="Sine">Sine</option>
                      <!-- <option value="Viridis">Viridis</option> -->
                      <option value="Turbo">Turbo</option>
                      <option value="PiYG">PiYG</option>
                      <option value="Sinebow">Sinebow</option>
                      <option value="RdBu">RdBu</option>
                    </select>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="position-absolute end-0 top-0 mb-4 me-4">

    </div>
    <div class="position-absolute bottom-0 end-0 text-info fs-3 mb-4 me-4">
      <!-- <h2>Data</h2>
      <p>{{ info.year }}/{{ info.month }}/{{ info.day }} {{ info.time }}:00 UT </p>
      <p>Height: {{ info.height }} km</p> -->
      <div id="vector_legend" v-show="vector_show_colorbar">
      </div>
      <div id="overlay_legend" v-show="overlay_show_colorbar"></div>
    </div>
    <div class="w-100 h-100 text-center" id="globe"></div>
    <!-- <svg id="test"></svg> -->
    <!-- <div class="row vh-100 m-0 pt-3 ps-3">
      <div class="col position-relative justify-content-center">

        <svg class="w-100 h-100" id="earth">
        </svg>

      </div>
    </div> -->
    <div id="testdata" width="1000px" height="1000px"></div>

  </div>
</body>

</html>