<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earth</title>
</head>

<body>
    <!-- <svg></svg> -->
    <div class="container-fluid vh-100 pt-4" id="app">
        <div class="row h-100">
            <div class="col-3">
                <h1 class="text-light" v-text="text"></h1>
                <!-- <label for="earth_width">Earth Width: </label><input type="number" name="earth_width" id="earth_width" v-model.lazy.number="earth_width"><br>
                <label for="earth_heigth">Earth Height: </label><input type="number" name="earth_height" id="earth_height" v-model.lazy.number="earth_height"><br> -->
                <label for="x_grid">X Grid Size: </label><input type="number" name="x_grid" id="x_grid" v-model.lazy.number="grid_step[0]"><br>
                <label for="y_grid">Y Grid Size: </label><input type="number" name="y_grid" id="y_grid" v-model.lazy.number="grid_step[1]"><br>
                <label for="yaw">yaw: </label><input type="number" name="yaw" id="yaw" v-model.number="earth_rotating[0]" step="0.5"><br>
                <label for="ptich">ptich: </label><input type="number" name="ptich" id="ptich" v-model.number="earth_rotating[1]" step="0.5"><br>
                <label for="roll">roll: </label><input type="number" name="roll" id="roll" v-model.number="earth_rotating[2]" step="0.5"><br>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Rotation" v-model="isRotate">
                    <label class="form-check-label" for="Rotation">
                      Rotation
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="showGrid" v-model="earth_data.showGrid">
                    <label class="form-check-label" for="showGrid">
                      Show Grid
                    </label>
                </div>
            </div>
            <div class="col-9">
                <svg class="w-100 h-100" id="earth" ref="earth_svg" @mousedown="mousedown($event)" @mouseover="mousemove($event)" @mouseup="mouseup" @wheel.prevent="onWheel($event)"></svg>
            </div>
        </div>
    </div>
</body>

</html>